:root {
    --nav: #202020;
    --bg: #181818;
    --font-primary: white;
    --font-secondary: #909090;
    --border: hsl(0, 0%, 17%);
    --blue-emp: #00b3e5;
    --grey-bg: #f5f5f5; 
    --purple-emp: #005587;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Global styles */

ul {
    list-style:none
}
.color-bg-text {
    text-transform: uppercase;
    background-color: var(--blue-emp);
    border-radius: 5px;
    padding: 5px;
    color: white;
}
.container {
    width: 1273px;
    margin: 50px auto;
  /*   display: flex;
    flex-direction: column; */
}

.blue { color: var(--blue-emp);}
/* Header */

header {
    border-bottom: 1px solid #bfbfbf;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top-item-1 {
    flex-basis: 17em;
}

.header-top-item-2 {
    font-size: 60px
}

.header-top-item-3 {
   flex-basis: 17em;
   text-align: center;
}

/* -----------Header Nav------------- */

header nav {
/*     border: 5px solid red;
 */    
    position: sticky;
    top: 0;
}
.header-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-item {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bolder;
    text-transform: capitalize;
}

/* -----------Main Container ------------ */

.main-container {
    padding-top: 20px;
}

/* -----------Main - content ------------ */

.content {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}
.content article {
    border: 1px solid blue;
    flex-basis: 75%;
    padding-right: 20px;
}
.content aside {
    border: 2px solid red;
    flex-basis: 25%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 32px repeat(5, 100px);
    grid-gap: 2px;
    position: sticky;
    align-self: flex-start;
    top: 0;
}

/*  --------Main Content Article---------*/

.content article > * {
    padding-top: 10px;
    border: 2px solid red;
}
.content h1 {
    font-size: 42px;
    padding-top: 0px;
}
.content-image img{
    width: 100%;
}
div.content-img-cap {
    font-size: smaller;
    padding-top: 1px;
}
.content-body p {
    padding: 7px 0;
    line-height: 1.25em;
    font-size: 18px;
}
.content-line-break {
    padding: 15px 0;
    background-color: var(--grey-bg);
}
.content-more {
    padding: 15px 0;
    font-weight: bold;
}
.content-more span{
    background-color: var(--purple-emp);
}
.content-more span:hover{
    background-color: #288eb7;
}

/*  --------Main Content -Aside---------*/
.content aside > * {
    background-color: var(--grey-bg);
    align-items: center;
}
.aside-title {
    font-size: small;
    text-transform: uppercase;
    padding: 10px;
    justify-content: center;
}
.aside-title:first-child {
    background-color: var(--blue-emp);
    color: white;
}
.aside-title:not(:first-child):hover{
    background-color: #ddd;
}
.aside-story {
    grid-column: 1 / span 4;
    padding: 11px;
    font-size: large;
    font-weight: bolder;
}
.aside-story:hover {
    color: var(--blue-emp);
}

/*  --------Post - Main Content Article --------*/
.main-container .social {
    border: 2px solid purple;
    width: 75%;
    padding-right: 20px;
}

