:root {
    --nav: #202020;
    --bg: #181818;
    --font-primary: white;
    --font-secondary: #909090;
    --border: hsl(0, 0%, 17%);
    --blue-emp: #00b3e5;
    --grey-bg: #f5f5f5; 
    --purple-emp: #005587;
    --darkgrey-emp: #484848;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Global styles */

ul {
    list-style:none
}
a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}
.color-bg-text {
    text-transform: uppercase;
    background-color: var(--blue-emp);
    border-radius: 5px;
    padding: 5px;
    color: white;
}
.container {
    margin-top: 25px;
    position: relative;
}

.container > * {
    width: 1273px;
    margin: 0 auto;
}

.blue { color: var(--blue-emp);}


/* -----------Header top------------- */

.header-top-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top-item-1 {
    flex-basis: 17em;
}

.header-top-item-2 {
    font-size: 60px
}

.header-top-item-3 {
   flex-basis: 17em;
   text-align: center;
}

/* -----------Header Nav------------- */

.header-nav {
    position: sticky;
    top: 0;
    background-color: white;
    width: auto;
    margin: 0;
    border-bottom: 1px solid #bfbfbf;
    z-index: 10;
}
.header-nav nav {
    width: 1273px;
    margin: 0 auto;

}
.header-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-item {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bolder;
    text-transform: capitalize;
}

/* -----------Main Container ------------ */

.main-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* -----------Main - content ------------ */

.content {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}
.content article {
    border: 1px solid blue;
    flex-basis: 75%;
    padding-right: 20px;
}
.content aside {
    border: 2px solid red;
    flex-basis: 25%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 32px repeat(5, 100px);
    grid-gap: 3px;
    position: sticky;
    align-self: flex-start;
    top: 0;
}

/*  --------Main Content Article---------*/

.content article > * {
    padding-top: 10px;
}
div.social-icons-big svg {
    width: 32px;
    height: 32px;
}
.content h1 {
    font-size: 42px;
    padding-top: 0px;
}
.content-image img{
    width: 100%;
}
div.content-img-cap {
    font-size: smaller;
    padding-top: 1px;
}
.content-body p {
    padding: 7px 0;
    line-height: 1.25em;
    font-size: 18px;
}
.content-line-break {
    padding: 15px 0;
    background-color: var(--grey-bg);
}
.content-more {
    padding: 15px 0;
    font-weight: bold;
}
.content-more span{
    background-color: var(--purple-emp);
}
.content-more span:hover{
    background-color: #288eb7;
}

/*  --------Main Content -Aside---------*/
.content aside > * {
    background-color: var(--grey-bg);
    align-items: center;
}
.aside-title {
    font-size: small;
    text-transform: uppercase;
    padding: 10px;
    justify-content: center;
}
.aside-title:first-child {
    background-color: var(--blue-emp);
    color: white;
}
.aside-title:not(:first-child):hover{
    background-color: #ddd;
}
.aside-story {
    grid-column: 1 / span 4;
    padding: 11px;
    font-size: large;
    font-weight: bolder;
}
.aside-story:hover {
    color: var(--blue-emp);
}

/*  --------Post - Main Content Article - Social Section--------*/
.main-container .social {
    border: 2px solid purple;
    width: 75%;
    padding-right: 20px;
}
/*  --------Post - Main Content Article -  More Section --------*/
.more-heading {
    padding-bottom: 15px;
    font-size: large;
    font-weight: normal;
}

.more-articles ul{
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.more-articles li {
    padding-right: 22px;
    padding-bottom: 22px;
    font-weight: bold;
}
.more-articles h3{
    padding-top: 15px;
}
.more-articles-img {
    position: relative;
}
.more-articles-img img{
    display: block;
    transition: all .2s;
}
.more-articles-img span{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    font-size: small;
}
.img-text-humans {
    background-color: var(--purple-emp);
}
.img-text-space {
    background-color: var(--darkgrey-emp);
}
.more-articles-img strong:hover{
    border-bottom: 2px solid white;
}
.more-articles li:hover{
    color: var(--blue-emp);
}
.more-articles li:hover img {
    transform: scale(1.03);
}

/*  --------Footer --------*/

.footer-container {
    background-color: var(--grey-bg);
    margin: 0;
    width: auto;
}
.footer-container-sub {
    width: 1273px;
    margin: 0 auto;
    padding-top: 25px;
}
.footer-container-sub > * {
    padding-bottom: 15px;
}

/*  --------Footer - Newsletter--------*/
.newsletter-item.title{
    padding-bottom: 10px;
}
.newsletter-item.form > * {
    margin-right: 8px;
}
.newsletter-item input{
    background-color: inherit;
    border: 0px solid;
    border-bottom: 2px solid black;
    width: 320px;
    height: 30px;
}
.form-3 {
    padding: 5px 100px;
    text-align: center;
    background-color: var(--purple-emp);
} 

/*  --------Footer - Nav--------*/

nav.footer-item ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer-nav1 {
    border-bottom: 1px solid black;
    padding-bottom: 4px;
    margin-bottom: 4px;
}

.footer-nav-item {
    padding: 5px 8px;
    margin: 3px 0;
    border-right: 1px solid black;
}
.footer-nav-item:last-child{
    border-right: 0px solid;
}
.footer-nav-item:hover {
    color: var(--blue-emp);
}

/*  --------Footer - social--------*/
.footer-item.social {
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.footer-social-sub-container{
    display: flex;
}
.footer-social-sub-container > * {
    
}
.footer-social-item {
    padding: 20px;
}

.cookie-settings{
    background-color: var(--purple-emp);
    border: none;
    padding: 5px;
    font-size: medium;
    font-weight: bold;
}
.cookie-settings:hover{
    opacity: .70;
}
.footer-social-item-left img{
    width: 100px;
}
.footer-social-item div > * {
    padding: 10px;
}
.footer-social-item h5 {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: small;
}

/* -----------Social Icons -----------*/
.social-icons svg {
    width: 26px;
    height: 26px;
    color: white;
    border-radius: 50%;
    padding: 4px;
    fill: white;
    margin-right: 10px; 
}
.social-icons svg:hover {
    opacity: .80;
}

.social-facebook {
    background-color: var(--purple-emp);
}
.social-twitter {
    background-color: var(--blue-emp); 
}
.social-indeed {
    background-color: #1da1f2;
}
.social-pintrest {
    background-color: #cb2027;
}
.social-whatsapp {
    background-color: #4dc247;
}
.social-reddit {
    background-color: #ff5700;
}
.social-email, .social-print {
    background-color: #999;
}